# Unit Test Reports

Branch | Unit Test Report URL 
-------|-------------
trunk      | https://builds.apache.org/job/Ambari-trunk-Commit/
branch-2.2 | https://builds.apache.org/job/Ambari-branch-2.2/