/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .heroBanner {
    padding: 1.5rem 1rem;
  }

  .heroBanner :global(.hero__title) {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .heroBanner :global(.hero__subtitle) {
    font-size: 1.125rem;
    line-height: 1.65;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

}

.button_icon{
  margin-right: 8px;
  margin-top: -5px;
  width: 28px;
  height: 28px;
  vertical-align: middle;
}
